## ASSIGNMENT ON TESTING HYPOTHESIS

In [108]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from scipy.stats import stats
from scipy.stats import chi2_contingency

In [109]:
# loading Csv File for analysis

data=pd.read_csv('C:/Users/munee/OneDrive/Desktop/DSA/Assignments/Sales_add.csv')

In [110]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [111]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [112]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [113]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

## The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

#### Null Hypothesis-Digital marketing doesnt effect sales

#### Alternate Hypothesis-Digital marketing has a positive effect on
sales

In [114]:
#Paired t test

# Null hypothesis-Status Quo- Digital marketing has improved sales
# Alternate hypothesis-there is increase in sales after stepping into digital marketing

In [115]:
# Calculating t-stat and P-value
from scipy.stats import ttest_rel
t_stat,p_value=stats.ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

C:\Users\munee\AppData\Local\Temp\ipykernel_9784\231261567.py:3: DeprecationWarning: Please use `ttest_rel` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  t_stat,p_value=stats.ttest_rel(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [116]:
t_stat,p_value

(-12.09070525287017, 6.336667004575778e-11)

In [117]:
# Comparing P-value  to decide if Null hypothesis is to be rejected

if p_value<0.05:
    print('Null Hypothesis is Rejected')
else:
    print('Null hypothesis is accepted')

Null Hypothesis is Rejected

#### Inference from T test-Digital marketing has indeed positively affected sales and sales have increased

## The company needs to check whether there is any dependency between thefeatures “Region” and “Manager”.

#### Here the Chi square test of Independence  shows whether theere is any connectionjm between 2 variables or whether they are independant 

#### Null Hypothesis-There is no dependancy Between the featues "Region" and "Manager"

#### Alternate Hypothesis-There is a dependancy Between the featues "Region" and "Manager" and they are not independant

In [118]:

alpha=0.05

df_data=pd.crosstab(data['Region'],data['Manager'])

In [119]:
#chi2_contingency() gives chi square value, pvalue, dof, expected values

df_data

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [120]:
#calcutating chi square value and p value
chi_stat1,pval1,dof,expected=chi2_contingency(df_data)

In [121]:
pval1

0.5493991051158094

In [122]:
# CXhecking the P-value to decide if Null hypothesis is to be rejected

if pval1<0.05:
    print('Null Hypothesis is Rejected')
else:
    print('Null hypothesis is accepted')

Null hypothesis is accepted

#### Inference from Chi Square test of Independence here is there is no dependency between the features “Region” and “Manager” and they are independant